.equalyes {
  display: none;
}
.equalno {
  display: none;
}
.loweryes {
  display: none;
}
.lowerno {
  display: none;
}
.upperyes {
  display: none;
}
.upperno {
  display: none;
}
.numberyes {
  display: none;
}
.numberno {
  display: none;
}
.tenyes {
  display: none;
}
.tenno {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: salmon;
}

@media screen and (min-width: 700px) {
  article {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.unordered_list {
  list-style: none;
}
